body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    width: 100%;
    max-width: 600px; /* or any other width you prefer */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #e3dbdb;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

label {
    flex: 1;
    margin-right: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
    flex: 2;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box ;
}

input[type="submit"] {
    margin-top: 15px;
    padding: 8px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 22px;
    cursor: pointer;
    align-self: last baseline;
  }

input[type="submit"]:hover {
    background-color: #45a049;
}

.container {
    margin-top: 20px;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .form-group label {
    flex: 1;
    min-width: 120px;
  }
  
  .form-group input {
    flex: 2;
  }
  
  .row .form-group {
    margin-bottom: 0;
  }
  
  input[type="submit"] {
    margin-top: 15px;
    width: 10%;
    margin-bottom: 20px;

  }
  

small {
    color: #666;
}
