<p-table [value]="files" [paginator]="true"
         [rows]="limit"
         [totalRecords]="totalUsers"
         [scrollable]="true"
         scrollHeight="flex"
         [lazy]="true"
         [virtualScroll]="false"
         (onLazyLoad)="onPageChange($event)"
         responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>address</th>
            <th>passport</th>
            <th>createdAt</th>
            <th>updatedAt</th>
            <th>isDeleted</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-file>
        <tr>
            <td>{{ file.name }}</td>
            <td>{{ file.phone }}</td>
            <td>{{ file.email }}</td>
            <td>{{ file.address }}</td>
            <td>{{ file.passport }}</td>
            <td>{{ file.createdAt }}</td>
            <td>{{ file.updatedAt }}</td>
            <td>{{ file.isDeleted }}</td>
        </tr>
    </ng-template>
</p-table>
